.instruction{
    border: 1px solid darken($off-white, 10%);
    border-radius: 5px;
    margin-top: $lg;
    margin-bottom: $lg;
    padding: $sm $lg;

    h1{
        color: black;
        font-size: $lg;
        text-align: center;
    }

    .begin{
        font-size: $sm + 0.2rem;
    }
    .begin2{
        font-size: $sm + 0.2rem;
    }
    .browser-default{
        font-size: $sm;
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .browser-default2{
        font-size: $sm;
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .left{
        font-size: $sm - 0.25rem;
        margin-bottom: 15px;
    }
    .right{
        font-size: $sm - 0.25rem;
        margin-bottom: 15px;
    }
}